<div style="display: flex">
  <div class="main">
    <h1>ABOUT</h1>
    <div>
      <p>
        Hey, my name is Shambhavi Devda and I use Shamvi as my nickname across
        social medias. I’m a front-end web developer from India. I’m also
        passionate about craft and love to create new stuff.I’m always curious
        to learn more when it comes to new technologies and creative coding.
      </p>
    </div>
    <div style="padding-top: 10%">
      <span>&#10515;</span>
      <a href="C:\Users\HP\Downloads\ShambhaviWD.pdf">Resume</a>
    </div>
  </div>
</div>
