<div class="main">
  <h1>CONTACT</h1>
  <div class="column">
    <div>
      <h3>E-MAIL</h3>
      <div style="display: flex; color: brown">
        <span>&#10004;</span>
        <p>shamvi201996@gmail.com</p>
      </div>
    </div>
    <div>
      <h3>SOCIAL MEDIAS</h3>
      <ul>
        <li>
          <span>&#10004;</span>
          <a href="https://www.instagram.com/_shamvi_/">Instagram</a>
        </li>
        <li>
          <span>&#10004;</span>
          <a href="https://github.com/shamvi20">Github</a>
        </li>
        <li>
          <span>&#10004;</span>
          <a href="https://www.linkedin.com/in/shambhavi-devda-996a70169/"
            >LinkedIn</a
          >
        </li>
      </ul>
    </div>
  </div>
</div>
