<!DOCTYPE html>
<html>
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
  <body>
    <div class="w3-container main">
      <h1>WORK</h1>

      <div class="w3-card-4" style="width: 50%; margin-bottom: 10px">
        <header class="w3-container w3-brown">
          <h5>LAN Monitoring</h5>
        </header>

        <div class="w3-container">
          <p style="color: brown">
            A desktop-based project in which the server monitors various PC’s
            (Clients) that are connected by LAN.
          </p>
        </div>

        <footer class="w3-container w3-brown">
          <h5>Learn More..</h5>
        </footer>
      </div>
      <div class="w3-card-4" style="width: 50%">
        <header class="w3-container w3-brown">
          <h5>Multi-Threaded Chat Application</h5>
        </header>

        <div class="w3-container">
          <p>
            A mini desktop version of WhatsApp that allows messages to be shared
            via client-server architecture.
          </p>
        </div>

        <footer class="w3-container w3-brown">
          <h5>Learn More..</h5>
        </footer>
      </div>
    </div>
  </body>
</html>
